<p>
  <strong>Match id:</strong>
  <%= @match.id %>
</p>

<p>
  <strong>Match location:</strong>
  <%= @match.location %>
</p>

<p>
  <strong>Match Duration:</strong>
  <%= @match.duration %>
</p>
<p>
  <strong>Match updated:</strong>
  <%= @match.updated_at %>
</p>



